.clients {
  background: $main-light-color;
  padding: 39px 55px;
  height: 120%;
  width: 100%;
  box-sizing: border-box;

  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 69px;
    height: 5.6vh;
  }

  &_logo {
    color: #d2132a;
    font-size: 32px;
  }

  &_callback {
    display: flex;
    align-items: center;
  }

  &_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $color-white;
  }

  &_circles {
    width: 18px;
    height: 18px;
  }

  &_contacts {
    font-size: 12px;
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #161415;
    margin-right: 22px;
  }

  &_middle {
    display: flex;
    justify-content: space-between;
  }

  &_presentation {
    width: 323px;
  }

  &_headline {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    color: #383030;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  &_description {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #643c5a;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 17px;
  }

  &_link {
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-decoration: none;
    color: #d2132a;
  }

  &_gallery {
    position: absolute;
    top: 70px;
    left: 40%;
    width: 67.6vh;
    display: flex;
  }

  &_figures_item-torus {
    position: absolute;
    width: 130px;
    height: 130px;
    left: -13%;
    top: -5%;
    z-index: 1;
  }

  &_figures_item-yout {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 33%;
    right: -5%;
    z-index: 1;
  }

  &_figures_item-sphere {
    position: absolute;
    width: 130px;
    height: 130px;
    bottom: 2%;
    left: -15%;
    z-index: 1;
  }

  &_figures_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_row-left,
  &_row-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &_row-middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &_gallery_item {
    margin-bottom: 47px;
    margin-right: 30px;
  }

  &_row-middle &_gallery_item:last-child {
    margin-bottom: 0;
  }

  &_picture {
    position: relative;
    border-radius: 5px;
    width: 197px;
    height: 260px;
    margin-bottom: 12px;
  }

  &_hover {
    justify-content: center;
    align-items: center;
    background: $main-hover-gradient;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
  }

  &_hover_image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }

  &_hover_content {
    position: absolute;
    top: 0;
    text-align: center;
    color: $color-white;
    font-style: normal;
    font-weight: normal;
  }

  &_hover_headline {
    text-transform: uppercase;
    margin-top: 38px;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.4px;
    margin-bottom: 27px;
  }

  &_hover_viewers {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 0.7px;
  }

  &_hover_source {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
  }

  &_hover_headline-special {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &_hover_source-special {
    margin-top: 40px;
  }

  &_hover_link {
    font-family: "Archivo", sans-serif;
    font-size: 12px;
    line-height: 13px;
    text-decoration: none;
    color: inherit;
    margin-right: 5px;
  }

  &_hover_path {
    transition: transform 0.3s;
  }

  &_picture-special {
    width: 197px;
    height: 198px;
  }

  &_picture-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_picture-juice {
    background: #da89c6;
  }

  &_picture-popjam {
    background: #000;
  }

  &_image-big {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &_gallery_paragraph {
    font-family: "Archivo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #383030;
  }
}

@media only screen and(max-width: $medium-monitor) {
  .clients {
    height: 160%;

    &_top {
      display: block;
    }

    &_gallery {
      left: 35%;
    }
  }
}

@media only screen and(max-width: $low-monitor) {
  .clients {
    padding: 39px 20px;
  }
}

@media only screen and(max-width: $medium-tablet) {
  .clients {
    padding: 39px 55px;
    height: 170%;

    &_top {
      display: flex;
    }

    &_presentation {
      margin-bottom: 50px;
    }

    &_middle {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &_figures {
      display: none;
    }
    
    &_gallery {
      position: static;
    }
  }
}

@media only screen and(max-width: $low-tablet) {
  .clients {
    height: 520%;

    &_top {
      display: none;
    }

    &_presentation {
      text-align: center;
    }

    &_middle {
      align-items: center;
    }
    
    &_gallery {
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    &_gallery_item {
      margin-right: 0;
    }

    &_row-middle &_gallery_item:last-child {
      margin-bottom: 47px;
    }
  }
}

@media only screen and(max-width: 375px) {
  .clients {
    height: 530%;
  }
}

@media only screen and(max-width: 320px) {
  .clients {
    height: 620%;
  }
}
