
$main-gradient: radial-gradient(48.18% 24.84% at 50% 50%,
#2a0227 0%, #170119 100%) no-repeat center;
$main-text-color: rgba(100, 60, 90, 0.2);
$main-light-color: #ffecee;
$main-hover-gradient: linear-gradient(353.71deg, 
#b10217 10.23%, #dd041f 69.59%);
$color-white: #fff;
